<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite1">
    <test name="тестирование форматирования фотографий">
        <classes>
            <class name="test.java.ru.mycompany.UtilsTest">
                <methods>
                    <include name="scaleImageTest"/>
                </methods>
            </class>
            <class name="test.java.ru.mycompany.ConvalutionNeuronsNetworkTest">
                <methods>
                    <include name="createNetWork" description="тест на правильное создане сети и правиную свертку"/>
                </methods>
            </class>
        </classes>
    </test>

</suite>